.header {
  /* grid-area: header;
  grid-column: span 2; */
  background-color: teal;
}
.headerContainer {
  display: flex;
  align-items: center;
}
.loginBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginBlock img {
  border-radius: 50%;
}
.logo {
  /* display: flex;
  align-items: center; */
  flex: 1 1 auto;
}
.logoLink {
  display: flex;
  align-items: center;
}
