.sidebar {
  /* grid-area: sidebar; */
  background-color: tomato;
  padding: 15px;
}

.menuItem>a.active {
  color: gold;
}

.friends {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
}

.friendsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.siderLayoutBackground {
  background-color: unset;
}
