.dialogs {
  @media (min-width: 476px) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
  }
}

.dialogsItems {
  overflow-y: auto;
  max-height: 60vh;

  @media (max-width: 476px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 190px;
  }
}

.datePicker {
  margin-bottom: 8px;
}
