.wrapper {
  /* display: grid;
  grid-template-areas: "header header"
                      "sidebar main"
                      "footer footer";
  grid-template-rows: max-content 1fr 1fr;
  grid-template-columns: 1fr 5fr;
  gap: 10px; */
  min-height: 100%;
  display: grid;
  overflow: hidden;
  /* grid-template-rows: auto 1fr auto; */
}

.page {
  background-color: wheat;
  min-width: 0;
  /* grid-area: main; */

  &__content-wrapper {
    padding: 15px;
  }

  &__container {
    display: grid;
    grid-template-columns: min-content 1fr;
  }
}

a:active,
a:focus,
.ant-btn:focus {
  outline: auto;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: auto 2px;
}

.ant-layout-sider-zero-width-trigger {
  position: fixed;
  left: 0;
  top: 30%;
}

.site-layout {
  padding-bottom: 24px;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item {
  padding: 0 6px;
}

.site-layout-content {
  @media (min-width: 467px) {
    padding-left: 12px;
  }

  flex: auto;
  // min-height: 280;
}

.ant-menu-item .anticon {
  font-size: unset;
}

// .site-layout-background {
//   column-gap: 12px;
// }
