// body {
//   padding-right: calc(17px - (100vw - 100%));
// }

//scroll-bar fix, doesn't work with html width: 100%
html {
  width: unset;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
.wrapper {
  min-height: 100%;
  display: grid;
  overflow: hidden;
}

.page {
  background-color: wheat;
  min-width: 0;

  &__content-wrapper {
    padding: 15px;
  }

  &__container {
    display: grid;
    grid-template-columns: min-content 1fr;
  }
}

a:active,
a:focus,
.ant-btn:focus {
  outline: auto;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: auto 2px;
}

.ant-layout-sider-zero-width-trigger {
  position: fixed;
  left: 0;
  top: 30%;
}

.site-layout {
  padding-bottom: 24px;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item {
  padding: 0 6px;
}

.site-layout-content {
  @media (min-width: 467px) {
    padding-left: 12px;
  }

  flex: auto;
}

.ant-menu-item .anticon {
  font-size: unset;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;

  // margin: -1px;
  // clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  // white-space: nowrap;
}
