ul li {
  list-style: none;

}
ul {
  padding: 0;
  margin: 0;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  min-width: 320px;
}

.root {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
*/
/* [class*="container"] {
  position: relative;
  box-sizing: content-box;
  margin-left:auto;
  margin-right:auto;
  padding-right:15px;
  padding-left:15px;
} */

.container{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding-right:15px;
  padding-left:15px;
  width: 100%;

}
@media (min-width: 768px){
  .container{
    width:720px;
    max-width:100%;
  }
}
@media (min-width: 992px){
  .container{
    width:960px;
    max-width:100%;
  }
}
@media (min-width: 1200px){
  .container{
    width:1140px;
    max-width:100%;
  }
}
@media (min-width: 1400px){
  .container{
    width:1340px;
    max-width:100%;
  }
}

.ant-layout-sider-zero-width-trigger {
  position: fixed !important;
  left: 0;
  top: 30% !important;
}
